html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: auto;
  font-size: 14px;
  color: var(--font-color);
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
